ui = true

storage "consul" {
  address       = "{{ consul_cluster_addr }}:8501"
  scheme        = "https"
  tls_ca_file   = "{{ vault_tls_path }}/consul-agent-ca.pem"
  tls_cert_file = "{{ vault_tls_path }}/{{ vault_tls_cert_file }}"
  tls_key_file  = "{{ vault_tls_path }}/{{ vault_tls_key_file }}"
  path          = "vault/"
  token         = "{{ vault_token }}"
}

listener "tcp" {
  address     = "127.0.0.1:{{ vault_api_port }}"
  tls_disable = true
}

listener "tcp" {
  address       = "{{ ansible_ec2_local_ipv4 }}:{{ vault_api_port }}"
  tls_cert_file = "{{ vault_tls_path }}/{{ vault_tls_cert_file }}"
  tls_key_file  = "{{ vault_tls_path }}/{{ vault_tls_key_file }}"
}

# Advertise the non-loopback interface
api_addr     = "http://{{ ansible_ec2_local_ipv4 }}:{{ vault_api_port }}"
cluster_addr = "https://{{ ansible_ec2_local_ipv4 }}:{{ vault_cluster_port }}"

{% if vault_use_auto_unseal %}
seal "awskms" {
  region     = "{{ ansible_ec2_placement_region }}"
  kms_key_id = "{{ vault_kms_key_id }}"
}
{% endif %}
