## Node
node_name  = "{{ ansible_ec2_instance_id }}"
datacenter = "{{ consul_datacenter | default("dc1") }}"

## Addresses
bind_addr          = "0.0.0.0"
client_addr        = "0.0.0.0"
advertise_addr     = "{{ ansible_ec2_local_ipv4 }}"
advertise_addr_wan = "{{ ansible_ec2_local_ipv4 }}"

addresses = {
  {{ consul_api_protocol }} = "0.0.0.0"
}

ports = {
  dns      = {{ consul_dns_port }}
  http     = {{ consul_http_port }}
  https    = {{ consul_https_port }}
  serf_lan = {{ consul_serf_lan_port }}
  serf_wan = {{ consul_serf_wan_port }}
  server   = {{ consul_server_rpc_port }}
  grpc     = {{ consul_grpc_port }}
}

performance = {
  raft_multiplier  = 1
}

## Raft
raft_protocol = 2

## Agent
data_dir                   = "/var/lib/consul"
log_level                  = "INFO"
enable_syslog              = true
syslog_facility            = "local0"
disable_update_check       = false
enable_script_checks       = false
enable_local_script_checks = false
disable_host_node_id       = true

## Encryption and TLS
encrypt                = "{{ consul_encryption_key | default("bogus-token") }}"
ca_file                = "/etc/consul.d/tls/consul-agent-ca.pem"
{% if consul_agent_is_server %}
cert_file              = "/etc/consul.d/tls/dc1-server-consul-0.pem"
key_file               = "/etc/consul.d/tls/dc1-server-consul-0-key.pem"
{% else %}
cert_file              = "/etc/consul.d/tls/dc1-client-consul-0.pem"
key_file               = "/etc/consul.d/tls/dc1-client-consul-0-key.pem"
{% endif %}
verify_incoming        = false
verify_incoming_rpc    = true
verify_outgoing        = true
verify_server_hostname = false
disable_remote_exec    = true

## LAN Join
retry_interval = "30s"
retry_max      = 0
retry_join     = [
  "provider=aws tag_key={{ consul_join_tag_key }} tag_value={{ consul_join_tag_value }} region={{ consul_join_region }} addr_type=private_v4"
]

{% if consul_agent_is_server %}
## Server Settings
server           = true
bootstrap        = false
bootstrap_expect = {{ consul_bootstrap_expect }}
autopilot        = {}

## UI
ui = true
{% endif %}
